#**
 * 信访工作建议书模板
 *#
信访工作建议书

编    号：${orderNo}

${title}

信访人基本情况：
  姓名：${petitionerName}
  身份证号：${petitionerIdcard}
  联系电话：${petitionerPhone}
  地址：${petitionerAddress}

信访来源：${petitionSource}

信访事由：
${petitionReason}

工单内容/任务要求：
${content}

登记时间：${registerTime}
限期报送截止时间：${deadline}

特此建议。

                                              ${currentDate}
